
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px;
    grid-template-areas: 
    "navbar navbar"
    "header header"
    "main form"
    "footer footer";
}

nav {
    background-color: #E8D6CB;
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

header {
    background-image: url(/media/pexels-jill-burrow-6387858.jpg);
    background-size: cover;
    background-color: #D0ADA7;
    grid-area: header;
    text-align: center;
    color: #5D2E46;
}

main {
    background-color: #AD6A6C;
    grid-area: main;
}

form {
    background-color: #d5c9c5;
    grid-area: form;
    color: #5D2E46;
    padding: 8px;
    display: block;
}

footer {
    background-color: #E8D6CB;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    padding: 3px;
}

nav.navbar img.profile {
    width: 15%;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
}

main h2 {
    color: #5D2E46;
}

main h3 {
    color: #5D2E46;
}

a:link {
    text-decoration: none;
}

.menu-button {
    width: 30vw;
    padding: 5px;
    font-size: small;
    background-color: #B58DB6;
    color: #5D2E46;
    border-radius: 10px;
    cursor: pointer;
    transition: 2ms;
}

.menu-button:hover {
    background-color: #AD6A6C;
    transition: 3ms
}

.menu-links {
    width: 30vw;
    position: absolute;
    background-color: #E8D6CB;
}

.menu-links > a:nth-child(1):hover {
    background-color: #;
    transition: 3ms;
}

.menu-links > a:nth-child(2):hover {
    background-color: ;
    transition: 3ms;
}

.menu-links > a:nth-child(3):hover {
    background-color: ;
    transition: 3ms;
}

.menu-links > a:nth-child(4):hover {
    background-color: ;
    transition: 3ms;
}

.menu-links > a {
    border-radius: 10px;
    margin: 2px;
    padding: 1px 2px;
    display: block;
    text-align: center;
    color: #5D2E46;
}

.socials {
    width: 2em;
}

.navbar .link {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.navbar .link > li {
    margin: 0 1rem;
    overflow: hidden;
    text-decoration: none;
}


/*@media (max-width: 992px) {
  .menu-button-container {
    display: flex; */
 

.main-content {
    padding: 8px;
}

.skill {
    border: 1px solid #5D2E46;
    border-radius: 10px;
    margin: 1em 0 1em 0;
    height: 1em;
}

.skill-level {
    height: 1em;
    border-radius: 10px;
    background-color: #D0ADA7;
}

.connection {
    margin: 25px 5px 25px 5px;
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 25px 5px 25px 5px;
}

.button {
    margin: 10px;
    background-color: #B58DB6;
    color: #5D2E46;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 2ms;
}

#html {
    animation-name: htmlSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes htmlSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

#css {
    animation-name: cssSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes cssSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

#python {
    animation-name: pythonSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes pythonSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}

#javascript {
    animation-name: jsSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes jsSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

#react {
    animation-name: reactSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes reactSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}
