
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px;
    grid-template-areas: 
    "navbar navbar"
    "header header"
    "main form"
    "footer footer";
}

nav {
    background-color: #E8D6CB;
    grid-area: navbar;
    display: flex;
}

header {
    background-image: url(/media/pexels-jill-burrow-6387858.jpg);
    background-size: cover;
    background-color: #D0ADA7;
    grid-area: header;
    text-align: center;
    color: #5D2E46;
}

main {
    background-color: #AD6A6C;
    grid-area: main;
}

form {
    background-color: #d5c9c5;
    grid-area: form;
    color: #5D2E46;
    padding: 8px;
}

footer {
    background-color: #E8D6CB;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
}

nav.navbar img.profile {
    width: 15%;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
}

main h2 {
    color: #5D2E46;
}

main h3 {
    color: #5D2E46;
}

.socials {
    width: 2em;
}

.navbar .links {
    text-decoration: none;
    display: none;
}

.main-content {
    padding: 8px;
}

.skill {
    border: 1px solid #5D2E46;
    border-radius: 10px;
    margin: 1em 0 1em 0;
    height: 1em;
}

.skill-level {
    height: 1em;
    border-radius: 10px;
    background-color: #D0ADA7;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    margin: 10px;
    background-color: #B58DB6;
    color: #5D2E46;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    cursor: pointer;
    transition: 2ms;
}

#html {
    animation-name: htmlSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes htmlSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

#css {
    animation-name: cssSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes cssSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

#python {
    animation-name: pythonSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes pythonSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}

#javascript {
    animation-name: jsSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes jsSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

#react {
    animation-name: reactSkillLevel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes reactSkillLevel {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .navbar .link {
        color: #5D2E46;
        transition: color 3ms linear;
    }
    .navbar .link:hover{
        color: #B58DB6;
    }
}